## 리스트 자료형

**가장 자주 보는 자료형**으로 많은 자료들이 리스트로 저장된다.\
list = [element1, element2, element3, ....]

### 리스트 생성 방법

리스트를 만들 때는 대괄호([])로 감싸 주고 각 요솟값은 쉼표(,)로 구분해 준다.

In [ ]:
odd = [1, 3, 5, 7, 9]
odd

In [ ]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
# 비어 있는 리스트
f = list()

### 리스트 인덱싱

리스트 역시 문자열처럼 인덱싱을 적용할 수 있다. 먼저 a 변수에 [1, 2, 3] 값을 설정한다.

In [ ]:
a = [1, 2, 3]
a[0]

In [ ]:
a[0] + a[2]

파이썬은 숫자를 0부터 세기 때문에 a[1]이 리스트 a의 첫 번째 요소가 아니라 a[0]이 리스트 a의 첫 번째 요소라는 것을 명심하자. a[-1]은 문자열에서와 마찬가지로 리스트 a의 마지막 요솟값을 말한다.

In [ ]:
a[-1]

이번에는 다음 예처럼 리스트 a를 숫자 1, 2, 3과 또 다른 리스트인 ['a', 'b', 'c']를 포함하도록 만들어 보자.

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

그리고 다음 예를 따라 해 보자.

In [ ]:
print(a[0])
print(a[-1])
print(a[3])

예상한 대로 a[-1]은 마지막 요솟값 ['a', 'b', 'c']를 나타낸다. a[3]은 리스트 a의 네 번째 요소를 나타내기 때문에 마지막 요소를 나타내는 a[-1]과 동일한 결괏값을 보여 준다.

그렇다면 리스트 a에 포함된 ['a', 'b', 'c'] 리스트에서 'a' 값을 인덱싱을 사용해 끄집어 낼 수 있는 방법은 없을까? 다음 예를 살펴보자.

In [ ]:
a[-1][0]

위와 같이 하면 'a'를 끄집어 낼 수 있다. a[-1]이 ['a', 'b', 'c'] 리스트라는 것은 이미 설명했다. 바로 이 리스트에서 첫 번째 요소를 불러오기 위해 [0]을 붙여 준 것이다.

다음 예도 마찬가지 경우이므로 어렵지 않게 이해할 수 있을 것이다.

In [ ]:
print(a[-1][1])
print(a[-1][2])

### 삼중 리스트에서 인덱싱하기

조금 복잡하지만, 리스트를 다음과 같이 작성할 수도 있다.

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

리스트 a 안에 ['a', 'b', ['Life', 'is']] 리스트가 포함되어 있고 그 리스트 안에 다시 ['Life', 'is'] 리스트가 포함되어 있다. 즉, 삼중 구조의 리스트인 것이다.

이 경우, 'Life' 문자열만 끄집어 내려면 다음과 같이 해야 한다.

In [ ]:
a[2][2][0]

### 리스트의 슬라이싱

문자열과 마찬가지로 리스트에서도 슬라이싱 기법을 적용할 수 있다. 슬라이싱은 ‘잘라 낸다’라는 뜻이라고 했다. 리스트의 슬라이싱에 대해서 살펴보자.

In [ ]:
a = [1, 2, 3, 4, 5]
a[0:2]

앞의 예를 문자열에서 슬라이싱했던 예와 비교해 보자.

In [ ]:
a = "12345"
a[0:2]

2가지가 완전히 동일하게 사용되었다는 것을 눈치챘을 것이다. 문자열에서 했던 것과 사용법이 완전히 동일하다.

몇 가지 예를 더 살펴보자.

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b, c

## 중첩된 리스트에서 슬라이싱하기

리스트가 포함된 중첩 리스트 역시 슬라이싱 방법은 똑같이 적용된다.

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

In [ ]:
a[3][:2]

위 예에서 a[3]은 ['a', 'b', 'c']를 나타낸다. 따라서 a[3][:2]는 ['a', 'b', 'c']의 첫 번째 요소부터 세 번째 요소 직전까지의 값, 즉 ['a', 'b']를 나타내는 리스트가 된다.

### 리스트 연산하기

리스트 역시 +를 사용해서 더할 수 있고 \*를 사용해서 반복할 수 있다. 문자열과 마찬가지로 리스트에서도 되는지 직접 확인해 보자.

#### 리스트 더하기(+)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

리스트 사이에서 +는 2개의 리스트를 합치는 기능을 한다. 문자열에서 "abc" + "def" = "abcdef"가 되는 것과 같은 이치이다.

#### 리스트 반복하기(\*)

In [ ]:
a = [1, 2, 3]
a * 3

위에서 볼 수 있듯이 [1, 2, 3] 리스트가 세 번 반복되어 새로운 리스트를 만들어 낸다. 문자열에서 "abc" \* 3 = "abcabcabc" 가 되는 것과 같은 이치이다.

#### 리스트 길이 구하기

리스트 길이를 구하기 위해서는 다음처럼 len 함수를 사용해야 한다.

In [ ]:
a = [1, 2, 3]
len(a)

len은 문자열, 리스트 외에 앞으로 배울 튜플과 딕셔너리에도 사용할 수 있는 함수이다. 실습에서 자주 사용하므로 잘 기억해 두자.

### 초보자가 범하기 쉬운 리스트 연산 오류

다음 소스 코드를 입력했을 때 결괏값은 어떻게 나올까?

In [ ]:
a = [1, 2, 3]
try:
    result = a[2] + "hi"
except TypeError as e:
    result = str(e)
result

a[2]에 저장된 값은 3이라는 정수인데 "hi"는 문자열이다. 정수와 문자열은 당연히 서로 더할 수 없기 때문에 오류가 발생한 것이다.

만약 숫자와 문자열을 더해서 '3hi'를 만들고 싶다면 다음처럼 숫자 3을 문자 '3'으로 바꾸어야 한다.

In [ ]:
str(a[2]) + "hi"

str은 정수나 실수를 문자열로 바꾸어 주는 파이썬의 내장 함수이다.

### 리스트의 수정과 삭제

리스트는 값을 수정하거나 삭제할 수 있다.

#### 리스트의 값 수정하기

In [ ]:
a = [1, 2, 3]
a[2] = 4
a

a[2]의 요솟값 3이 4로 바뀌었다.

### del 함수를 사용해 리스트 요소 삭제하기

In [ ]:
a = [1, 2, 3]
del a[1]
a

del a[x]는 x번째 요솟값을 삭제한다. 위에서는 a 리스트에서 a[1]을 삭제했다. del 함수는 파이썬이 자체적으로 가지고 있는 삭제 함수이며 다음과 같이 사용한다.

del 객체

객체란 파이썬에서 사용되는 모든 자료형을 말한다.

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

a[2:]에 해당하는 리스트의 요소들이 삭제되었다.

리스트의 요소를 삭제하는 방법에는 2가지가 더 있다. 바로 리스트의 remove와 pop 함수를 사용하는 것인데, 이는 리스트 관련 함수에서 설명한다.

### 리스트 관련 함수

문자열과 마찬가지로 리스트 변수 이름 뒤에 ‘.’를 붙여 여러 가지 리스트 관련 함수를 사용할 수 있다. 유용하게 사용하는 리스트 관련 함수 몇 가지만 알아보자.

#### 리스트에 요소 추가하기 - append

In [ ]:
a = [1, 2, 3]
a.append(4)
a

리스트 안에는 어떤 자료형도 추가할 수 있다. 다음 예는 리스트에 다시 리스트를 추가한 결과이다.

In [ ]:
a.append([5, 6])
a

#### 리스트 정렬 - sort

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

문자 역시 알파벳 순서로 정렬할 수 있다.

In [ ]:
a = ['a', 'c', 'b']
a.sort()
a

#### 리스트 뒤집기 - reverse

In [ ]:
a = ['a', 'c', 'b']
a.reverse()
a

### 인덱스 반환 - index

In [ ]:
a = [1, 2, 3]
index_3 = a.index(3)
index_1 = a.index(1)
index_3, index_1

#### 리스트에 요소 삽입 - insert

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
a

In [ ]:
a.insert(3, 5)
a

#### 리스트 요소 제거 - remove

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

a가 3이라는 값을 2개 가지고 있을 경우, 첫 번째 3만 제거되는 것을 알 수 있다.

In [ ]:
a.remove(3)
a

#### 리스트 요소 끄집어 내기 - pop

In [ ]:
a = [1, 2, 3]
pop_value = a.pop()
pop_value, a

In [ ]:
a = [1, 2, 3]
pop_value = a.pop(1)
pop_value, a

#### 리스트에 포함된 요소 x의 개수 세기 - count

In [ ]:
a = [1, 2, 3, 1]
a.count(1)

#### 리스트 확장 - extend

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
a

In [ ]:
b = [6, 7]
a.extend(b)
a